Szop_Wcf/Client/Connected Services/MyBookService/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/BookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import schemaLocation="http://localhost:8080/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookShop_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Login_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q1:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Logout_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q2:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AddBook_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q3:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IBookShop_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_List_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q4:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookShop_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_DeleteBook_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q5:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Like_InputMessage">
    <wsdl:part name="parameters" element="tns:Like" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Like_OutputMessage">
    <wsdl:part name="parameters" element="tns:LikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Like_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q6:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Dislike_InputMessage">
    <wsdl:part name="parameters" element="tns:Dislike" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Dislike_OutputMessage">
    <wsdl:part name="parameters" element="tns:DislikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Dislike_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q7:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyLiked_InputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyLiked" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyLiked_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyLikedResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyLiked_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q8:BookShopException" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyDisliked_InputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyDisliked" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyDisliked_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyDislikedResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_AlreadyDisliked_BookShopExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q9:BookShopException" />
  </wsdl:message>
  <wsdl:portType name="IBookShop">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/Login" message="tns:IBookShop_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/LoginResponse" message="tns:IBookShop_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/LoginBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_Login_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/Logout" message="tns:IBookShop_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/LogoutResponse" message="tns:IBookShop_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/LogoutBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_Logout_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/AddBook" message="tns:IBookShop_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/AddBookResponse" message="tns:IBookShop_AddBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/AddBookBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_AddBook_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/List" message="tns:IBookShop_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/ListResponse" message="tns:IBookShop_List_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/ListBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_List_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/DeleteBook" message="tns:IBookShop_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/DeleteBookResponse" message="tns:IBookShop_DeleteBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/DeleteBookBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_DeleteBook_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Like">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/Like" message="tns:IBookShop_Like_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/LikeResponse" message="tns:IBookShop_Like_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/LikeBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_Like_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dislike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/Dislike" message="tns:IBookShop_Dislike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/DislikeResponse" message="tns:IBookShop_Dislike_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/DislikeBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_Dislike_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlreadyLiked">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/AlreadyLiked" message="tns:IBookShop_AlreadyLiked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/AlreadyLikedResponse" message="tns:IBookShop_AlreadyLiked_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/AlreadyLikedBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_AlreadyLiked_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlreadyDisliked">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/AlreadyDisliked" message="tns:IBookShop_AlreadyDisliked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/AlreadyDislikedResponse" message="tns:IBookShop_AlreadyDisliked_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookShop/AlreadyDislikedBookShopExceptionFault" name="BookShopExceptionFault" message="tns:IBookShop_AlreadyDisliked_BookShopExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookShop" type="tns:IBookShop">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBookShop/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IBookShop/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IBookShop/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IBookShop/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IBookShop/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Like">
      <soap:operation soapAction="http://tempuri.org/IBookShop/Like" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Dislike">
      <soap:operation soapAction="http://tempuri.org/IBookShop/Dislike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AlreadyLiked">
      <soap:operation soapAction="http://tempuri.org/IBookShop/AlreadyLiked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AlreadyDisliked">
      <soap:operation soapAction="http://tempuri.org/IBookShop/AlreadyDisliked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookShopExceptionFault">
        <soap:fault use="literal" name="BookShopExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BasicHttpBinding_IBookShop" binding="tns:BasicHttpBinding_IBookShop">
      <soap:address location="http://localhost:8080/BookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>